.navbar-default {
  background-color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
  .navbar-brand {
    color: #ff5a5f;
    font-size: 2em;
    font-weight: 400;
  }
}
.dashboard {
  margin-bottom: 0px;
}
.dashboard-color {
  background-color: #565a5c;
}
.dashboard-link {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}
.dashboard-nav {
  flex-direction: row;
}
.board-item {
  margin-right: 10px;
}
