body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
a {
  color: #565a5c;
  &:hover {
    color: #c4c4c4;
  }
}
h4 {
  font-size: 18px;
}
.container {
  width: 80%;
}
.text-babu, .icon-babu {
  color: $thema_color;
}
.room-photo-size {
  width: 300px;
  height: 300px;
  border-radius: 3px;
}
.panel {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}
.panel-heading {
  font-size: 20px;
  color: #fff;
  background-color: $thema_color;
  padding: 10px 12px;
}
.panel-body {
  padding: 15px 12px;
}