.row
  .col-md-12
    = image_tag @room.cover_photo(nil)
br/

.row
  // LEFT PANEL
  .col-md-8

    // LISTING NAME
    .row
      .col-md-8
        h1
          = @room.listing_name
        = @room.address
      .col-md-4.text-center
        = image_tag avatar_url(@room.user), class: 'avatar-circle avatar-large' 
        = @room.user.name
    hr/

    // Room Info
    .roomInfo.text-babu
      .roomInfo_icon
        i.fa.fa-home.fa-2x
        i.fa.fa-user-circle-o.fa-2x
        i.fa.fa-bed.fa-2x
        i.fa.fa-bath.fa-2x  
      .roomInfo_details
        = @room.home_type
        = plural_form(@room.accommodate, "Guest")
        = plural_form(@room.bed_room, "Bedroom")
        = plural_form(@room.bath_room, "Bathroom")
    hr/

    // About
    .roomAbout
      h3
        | About This Listing
      p
        = @room.summary
    hr/

    // Amenities
    .roomAmenities
      h4
        | Amenities
      ul.amenities
        li class="#{'text-line-through' if !@room.is_tv}" TV
        li class="#{'text-line-through' if !@room.is_kitchen}" Kitchen
        li class="#{'text-line-through' if !@room.is_internet}" Internet
      ul.amenities
        li class="#{'text-line-through' if !@room.is_heating}" Heating
        li class="#{'text-line-through' if !@room.is_air}" Air Conditioning
    hr/

    // Carousel
    .row
    hr/

  // RIGHT PANEL
  .col-md-4