/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";
@import "toastr";
@import "font-awesome";
@import "all";

#main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: hidden;
  height: 100%;
}

#right {
  position: fixed;
  top: 75px;
  right: 0;
  width: 450px;
  height: 100%;
}

.margin {
  margin: 20px 0;
}
.position {
  margin: 0 auto;
  margin-bottom: 20px;
}
.text-red,
.icon-red {
  color: #ff5a5f;
}
.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}
.la {
  background-image: image-url("LA.jpg");
}
.ld {
  background-image: image-url("LD.jpg");
}
.pr {
  background-image: image-url("PR.jpg");
}
.mi {
  background-image: image-url("MI.jpg");
}
.banner {
  margin: 50px 0;
}
